<%= form_for(@framedp_model) do |f| %>
  <% if @framedp_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@framedp_model.errors.count, "error") %> prohibited this framedp_model from being saved:</h2>

      <ul>
      <% @framedp_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gff %><br />
    <%= f.text_area :gff %>
  </div>
  <div class="field">
    <%= f.label :nuc %><br />
    <%= f.text_area :nuc %>
  </div>
  <div class="field">
    <%= f.label :pep %><br />
    <%= f.text_area :pep %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
