<p id="notice"><%= notice %></p>

<p>
  <b>Orf name:</b>
  <%= @framedp_summary.orf_name %>
</p>

<p>
  <b>Contig name:</b>
  <%= @framedp_summary.contig_name %>
</p>

<p>
  <b>Start pos:</b>
  <%= @framedp_summary.start_pos %>
</p>

<p>
  <b>End pos:</b>
  <%= @framedp_summary.end_pos %>
</p>

<p>
  <b>Strand:</b>
  <%= @framedp_summary.strand %>
</p>

<p>
  <b>Pred type:</b>
  <%= @framedp_summary.pred_type %>
</p>

<p>
  <b>Aaseq:</b>
  <%= @framedp_summary.aaseq %>
</p>

<p>
  <b>Aalen:</b>
  <%= @framedp_summary.aalen %>
</p>

<p>
  <b>Contig:</b>
  <%= @framedp_summary.contig_id %>
</p>

<h2>ORF (nuc)</h2>
<pre><%= @framedp_summary.fasta_orf_framedp_nuc_entry.record %></pre>

<h2>ORF (pep)</h2>
<pre><%= @framedp_summary.fasta_orf_framedp_pep_entry.record %></pre>
